* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.max-width {
    max-width: 1300px;
    padding: 0px 110px;
    margin: auto;
}


/* NAVBAR STYLING */

.navbar {
    position: fixed;
    width: 100%;
    padding: 15px 0;
    /* background: crimson; */
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    z-index: 999;
}

.navbar.sticky {
    padding: 15px 0;
    background: crimson;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: white;
    font-size: 35px;
    font-weight: 600;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar.sticky .menu li a:hover {
    color: black;
}

.navbar .menu li a:hover {
    color: crimson;
    font-size: 25px;
}


/* menu btn styling */

.menu-btn {
    color: white;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: white;
    border-radius: 6px;
    z-index: 9999;
    font-size: 30px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}


/* home section */

.home {
    display: flex;
    background: url("images/6.jpg") no-repeat center;
    height: 100vh;
    width: 100%;
    color: white;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 27px;
    margin: 5px 0;
}

.home .home-content .text-3 span {
    color: crimson;
    font-weight: 500;
}

.home .home-content a {
    display: inline-block;
    background: crimson;
    color: white;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.home .home-content a:hover {
    color: crimson;
    background: none;
}


/* ABOUT SECTION */

section {
    padding: 100px 0;
}

.about,
.services,
.skills {
    font-family: 'Poppins', sans-serif;
}

.about .title {
    position: relative;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-size: 40px;
}

.about .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
}

.about .title::after {
    content: "Who I Am";
    position: absolute;
    bottom: -10px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: white;
    transform: translateX(-50%);
}

.about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .left {
    width: 45%;
}

.about .about-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    /* KNOW THIS */
    border-radius: 6px;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span {
    color: crimson;
}

.about .about-content .right a {
    display: inline-block;
    background: crimson;
    color: white;
    font-size: 20px;
    padding: 10px 30px;
    font-weight: 500;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover {
    color: crimson;
    background: none;
}

.about .about-content .right p {
    text-align: justify;
}


/* SERVICES SECTION STYLING */

.section {
    padding: 100px 0px;
}

.services .serv-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.services .title {
    position: relative;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-size: 40px;
}

.services .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 220px;
    height: 3px;
    background: white;
    transform: translateX(-50%);
}

.services .title::after {
    content: "What I Provide";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: black;
    transform: translateX(-50%);
}

.services {
    background: black;
    color: white;
}

.services .serv-content .card {
    width: 320px;
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 20px;
    margin-left: 30px;
    cursor: pointer;
}

.services .serv-content .card:hover .box {
    transform: scale(1.05);
}

.services .serv-content .card:hover {
    color: crimson;
}

.services .serv-content .card .box {
    transition: all 0.3s ease;
}

.services .serv-content .card i {
    font-size: 50px;
    color: crimson;
}

.services .serv-content .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}


/* SKILLS SECTION  */

.skills .title {
    position: relative;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-size: 40px;
}

.skills .title::before {
    content: "";
    position: absolute;
    bottom: 12px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
}

.skills .skills-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0px 90px;
}

.skills .skills-content .column {
    width: 45%;
}

.skills .skills-content .left .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .right {
    padding-top: 40px;
}

.skills .skills-content .left p {
    text-align: justify;
}

.skills .skills-content .left a {
    display: inline-block;
    background: crimson;
    color: white;
    font-size: 18px;
    padding: 8px 16px;
    font-weight: 500;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.skills .skills-content .left a:hover {
    color: crimson;
    background: none;
}

.skills .skills-content .right .bars {
    margin-bottom: 8px;
}

.skills .skills-content .right .info {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .right span {
    font-weight: 500;
    font-size: 18px;
}

.skills .skills-content .right .line {
    height: 5px;
    width: 100%;
    background: lightgray;
    position: relative;
}

.skills .skills-content .right .line::before {
    position: absolute;
    content: "";
    background: crimson;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.skills .skills-content .right .html::before {
    width: 90%;
}

.skills .skills-content .right .css::before {
    width: 60%;
}

.skills .skills-content .right .javascript::before {
    width: 80%;
}

.skills .skills-content .right .node::before {
    width: 65%;
}

.skills .skills-content .right .express::before {
    width: 85%;
}

.skills .skills-content .right .mongo::before {
    width: 75%;
}

.skills .skills-content .right .react::before {
    width: 80%;
}


/* MY WORKS SECTION  */

.teams {
    font-family: 'Poppins', sans-serif;
    background: black;
    color: white;
}

.teams .title {
    position: relative;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-size: 40px;
}

.teams .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 220px;
    height: 3px;
    background: white;
    transform: translateX(-50%);
}

.teams .title::after {
    content: "What I Have Done";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: black;
    transform: translateX(-50%);
}

.teams .carousel .card {
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
    margin-left: 30px;
    padding-left: 30px;
}

.teams .carousel .card:hover {
    background: crimson;
}

.teams .carousel .card .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.teams .carousel .card:hover .box {
    transform: scale(1.05);
}

.teams .carousel .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.teams .carousel .card img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid crimson;
    transition: all 0.3s ease;
}

.teams .carousel .card:hover img {
    border-color: #fff;
}

.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid crimson!important;
    transition: all 0.3s ease;
}

.owl-dot.active {
    width: 35px;
    border-radius: 14px;
}

.owl-dot.active,
.owl-dot:hover {
    background: crimson!important;
}


/* Contact section start  */

.contact .title {
    position: relative;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-size: 40px;
}

.contact .title::before {
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    width: 220px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
}

.contact .title::after {
    content: "Get In Touch";
    position: absolute;
    bottom: -16px;
    left: 50%;
    font-size: 25px;
    color: crimson;
    padding: 5px;
    background: white;
    transform: translateX(-50%);
}

.contact .contact-content {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0px 90px;
}

.contact .contact-content .column {
    width: calc(50% - 30px);
}

.contact .contact-content .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left .icons {
    margin: 10px 0;
}

.contact .contact-content .left p {
    text-align: justify;
}

.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info {
    margin-left: 30px;
}

.contact .contact-content .row i {
    font-size: 25px;
    color: crimson;
}

.contact .contact-content .info .head {
    font-weight: 500;
}

.contact .contact-content .info .sub-title {
    color: #333;
}

.contact .right form .fields {
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .textarea {
    height: 80px;
    width: 100%;
}

.contact .right form .name {
    margin-right: 10px;
}

.contact .right form .email {
    margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .right form .button {
    height: 47px;
    width: 170px;
    color: white;
    font-size: 20px;
}

.contact .right form .button button {
    width: 100%;
    height: 100%;
    border: 2px solid crimson;
    background: crimson;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact .right form .button button:hover {
    color: crimson;
    background: none;
}


/* FOOTER SECTION  */

footer {
    font-family: 'Poppins', sans-serif;
}

footer {
    background: #111;
    padding: 20px 23px;
    justify-content: center;
    text-align: center;
    color: white;
}


/* responsive media query */

@media (max-width:1300px) {
    .home .max-width {
        margin-left: 0px;
    }
}

@media (max-width:1104px) {
    .home .max-width {
        margin-left: 0px;
    }
    .about .about-content .left img {
        height: 350px;
        width: 350px;
    }
}

@media (max-width:960px) {
    .home .max-width {
        margin-left: 0px;
    }
    .max-width {
        padding: 0px 50px;
    }
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before {
        content: "\f00d";
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        background: black;
        left: -100%;
        top: 0;
        opacity: 0.95;
        text-align: center;
        padding-top: 80px;
        transition: all 0.4s ease;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2 {
        font-size: 70px;
    }
    .home .home-content .text-3 {
        font-size: 35px;
    }
    .home .home-content a {
        font-size: 28px;
        padding: 10px 30px;
    }
    .max-width {
        max-width: 800px;
    }
    .about .about-content .column {
        width: 100%;
    }
    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right {
        flex: 100%;
    }
    .services .serv-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column {
        width: 100%;
        margin-bottom: 20px;
    }
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width:690px) {
    .max-width {
        padding: 0 40px 0 10px;
    }
    .home .home-content .text-2 {
        font-size: 60px;
    }
    .home .home-content .text-3 {
        font-size: 32px;
    }
    .home .home-content a {
        font-size: 20px;
    }
    .services .serv-content .card {
        width: 100%;
    }
    .skills .skills-content .column {
        width: 100%;
    }
    .contact .contact .right form .name {
        margin-right: 0px;
    }
    .contact .right form .email {
        margin-left: 0px;
    }
    .contact .right form .field input,
    .contact .right form .textarea textarea {
        margin: 0px 0px 0px 0px;
        width: 120px;
    }
}

@media (max-width:500px) {
    .home .home-content .text-2 {
        font-size: 50px;
    }
    .home .home-content .text-3 {
        font-size: 27px;
    }
    .teams .carousel .card {
        justify-content: center;
        margin-left: 30px;
        padding-left: 30px;
    }
    .teams .carousel .card .box {
        justify-content: center;
    }
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 20px;
    }
    .contact .title::after {
        font-size: 23px;
    }
}

@media (max-width:430px) {
    .teams .title::after {
        padding: 0px 0px 0px 0px;
        margin: 0px -28px 1px -1px;
        font-size: 19px;
    }
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 3px;
    }
}